<template>
  <section class="home">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>
    <div v-if="nextWeathers === undefined"
      style="height: 100vh"
    >
    </div>
    <div v-if="nextWeathers !== undefined">
      <div class="animated fadeIn" style="animation-delay: 0.25s">
        <div style="display: flex; justify-content: space-between; padding: 5vh">
          <div style="display: flex; align-items: center">
            <span style="font-size:30px; color: skyblue; padding-right: 1vw">
              {{city}}
            </span>
            <div>
              <b-icon v-if="isSaved"
                icon="heart"
                size="is-medium"
                type="is-danger"
                title="Already added to Saved Cities">
              </b-icon>
            </div>
            <div v-if="!isSaved" @click="saveLocation">
              <b-icon
                icon="heart-outline"
                size="is-medium"
                type="is-dark"
                title="Add to Saved Cities"
                style="cursor: pointer"
              >
              </b-icon>
            </div>
          </div>

          <form @submit.prevent="search(searchInput)">
            <b-input
              class="animated fadeIn"
              v-model="searchInput"
              placeholder="Search.."
              style="width: 17vw; min-width: 120px"
              type="search"
              icon="magnify"
            />
          </form>
        </div>
        <div
          style="display: flex; justify-content: flex-end; margin-top: -4vh; padding-right: 5vh; cursor: pointer"
          @click="getByPosition"
        >
          <b-icon
            icon="crosshairs-gps"
            size="is-small"
            type="is-light"
            title="Get weather by location">
          </b-icon>
        </div>
        <TodayWeatherCard style="animation-delay: 0.25s;" :today="today"/>
      </div>

      <div class="container" style="">
        <div class="columns" style="padding-top:5vh; padding-bottom:5vh">
          <div class="column" v-for="(weather, i) in nextWeathers" :key="i">
            <NextWeathersCard class="animated fadeIn" style="animation-delay: 0.5s;" :weather="weather"/>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import axios from '@/api/axios'
import NextWeathersCard from '@/components/NextWeathersCard'
import TodayWeatherCard from '@/components/TodayWeatherCard'
import { mapState } from 'vuex'

export default {
  name: 'home',
  components: {
    NextWeathersCard,
    TodayWeatherCard
  },
  data () {
    return {
      isLoading: false,
      // city: '',
      pos: {
        lat: '',
        long: ''
      },
      woeId: '',
      // nextWeathers: undefined,
      // today: {},
      searchInput: ''
    }
  },
  methods: {
    getLocation () {
      navigator.geolocation.getCurrentPosition(position => {
        // console.log(position.coords)
        this.pos.lat = position.coords.latitude
        this.pos.long = position.coords.longitude
        console.log(position.timestamp)
        console.log(this.pos.lat, this.pos.long)
        this.getWoeId()
      })
    },
    getWoeId () {
      axios.get(`/api/location/search/?lattlong=${this.pos.lat},${this.pos.long}`)
        .then(({ data }) => {
          console.log(data[0])
          this.woeId = data[0].woeid
          this.weatherLocation()
        })
        .catch(err => {
          console.log(err)
        })
    },
    weatherLocation () {
      axios.get(`/api/location/${this.woeId}`)
        .then(({ data }) => {
          console.log(data)
          console.log(data.consolidated_weather)
          this.$store.commit('setNextWeathers', data.consolidated_weather.slice(1))
          this.$store.commit('setToday', data.consolidated_weather[0])
          this.$store.commit('setCity', data.title)
          this.isLoading = false
          this.searchInput = ''
        })
        .catch(err => {
          console.log(err)
        })
    },
    search (input) {
      console.log(this.searchInput)
      this.isLoading = true
      axios.get(`/api/location/search/?query=${input}`)
        .then(({ data }) => {
          console.log(data)
          if (data.length !== 0) {
            console.log(data[0].woeid)
            this.woeId = data[0].woeid
            console.log(this.woeId)
            this.weatherLocation()
          } else {
            this.isLoading = false
            this.$buefy.toast.open({
              message: `City named "${this.searchInput}" not found`,
              type: 'is-info',
              duration: 2000
            })
            this.$buefy.toast.open({
              message: 'Search another city..',
              type: 'is-info',
              duration: 2000
            })
            this.searchInput = ''
          }
          this.$store.commit('setStoreSearch', '')
        })
        .catch(err => {
          console.log(err)
        })
    },
    saveLocation () {
      console.log('masuk')
      this.$store.commit('addLocation', this.city)
      this.$buefy.toast.open({
        message: `"${this.city}" added to Saved Cities`,
        queue: false
      })
    },
    getByPosition () {
      this.isLoading = true
      this.getLocation()
    }
  },
  mounted () {
    this.isLoading = true
    console.log(this.storeSearch)
    if (this.storeSearch === '') {
      if (this.city === '') {
        this.getLocation()
      } else {
        this.isLoading = false
      }
    } else {
      if (this.storeSearch !== this.city) {
        this.search(this.storeSearch)
      } else {
        this.isLoading = false
      }
    }
  },
  computed: {
    ...mapState(['storeSearch', 'nextWeathers', 'today', 'city', 'savedLocation']),
    isSaved () {
      if (this.savedLocation.indexOf(this.city) !== -1) {
        return true
      } else {
        return false
      }
    }
  }

}
</script>
