<template>
  <div class="container animated fadeIn" style="height: 98.9vh; animation-delay: 0.25s">
    <p style="color: skyblue;font-size:2rem; padding: 5vh">Saved Cities</p>
    <div v-if="savedLocation.length === 0">
      <div style="font-size: 25px; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 60vh">
        <p>There isn't any saved city</p>
        <p>Add some city first</p>
      </div>
    </div>
    <div v-if="savedLocation.length !== 0" style="">
      <span style="padding: 2vh">(Click city name to check the weather)</span>
      <div class="container" style="height: 60vh; width: 75vw; overflow: hidden">
        <div style="height: 100%; margin-right: -50px; padding-right: 50px; overflow-y: scroll;">
          <div v-for="(city, i) in savedLocation" :key="i">
            <div style="display: flex; justify-content: space-between; padding: 2vh; background-color:rgba(0,0,0,0.5); margin-bottom: 2vh">
              <span @click="backAndSearch(city)" style="font-size:25px; color: skyblue; cursor: pointer">{{city}}</span>
              <div style="display: flex; flex-direction: column">
                <b-button @click="deleteCity(city)" type="is-danger" outlined>Delete City</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-button style="margin-top:2vh" type="is-dark" @click="goBack()" >Back</b-button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  methods: {
    goBack () {
      this.$router.push('/')
    },
    backAndSearch (city) {
      this.$store.commit('setStoreSearch', city)
      this.$router.push('/')
    },
    deleteCity (input) {
      this.$buefy.snackbar.open({
        message: `Delete "${input}" ?`,
        type: 'is-danger',
        position: 'is-top',
        actionText: 'Yes, delete it',
        queue: false,
        duration: 3000,
        onAction: () => {
          let array = this.savedLocation.filter(city => {
            return city !== input
          })
          this.$store.commit('setLocation', array)
          this.$buefy.toast.open({
            message: `"${input}" deleted from Saved Cities`,
            queue: false
          })
        }
      })
    }
  },
  computed: {
    ...mapState(['savedLocation'])
  }
}
</script>

<style>

</style>
