<template>
  <div style="background-color:rgba(0,0,0,0.5);">
    <div style="">
      <span is-size-3 style="color: skyblue; font-size:20px">{{ date }}</span>
    </div>
    <div style="border-top: 2px solid skyblue; display: flex; justify-content: center; padding: 20%">
      <img :src="icon" alt="weather" width="60vw"/>
      <div style="margin-left:20px; color: skyblue; font-size:20px">
        <p is-size-3 style="color: peru; font-size:20px">{{ Math.ceil(weather.max_temp) }}°</p>
        <p is-size-3 style="color: skyblue; font-size:20px">{{ Math.floor(weather.min_temp) }}°</p>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: ['weather'],
  data () {
    return {
      icon: `https://www.metaweather.com/static/img/weather/png/64/${this.weather.weather_state_abbr}.png`,
      date: moment(this.weather.applicable_date).format('dddd')
    }
  }

}
</script>

<style>

</style>
