<template>
  <div v-if="check" style="height: 50vh; margin-top:-5vh">
    <div style="display: flex; justify-content: center; align-items: flex-end; height: 25vh">
      <div style="display: flex; flex-direction: column; width: 20vh">
        <span style="font-size:70px; color: white; margin-left: 2vw; margin-bottom:-3vh">{{Math.floor(today.the_temp)}}°</span>
        <div style="display: flex; justify-content: center">
          <span style="font-size:25px; color: skyblue; margin-right: 1vw">{{Math.floor(today.min_temp)}}° </span>
          <span style="font-size:25px; color: white; margin-right: 1vw">/</span>
          <span style="font-size:25px; color: orange"> {{Math.ceil(today.max_temp)}}°</span>
        </div>
      </div>
      <img v-if="todayIcon !== ''" :src="todayIcon" alt="weather" width="150rem">
    </div>
      <p style="font-size:35px; color: skyblue; padding: 3vh">{{today.weather_state_name}}</p>
      <b-button type="is-dark" outlined @click="goToSaved">Saved Cities</b-button>

    <div v-if="inline" style="display: flex; height: 10vh; align-items: flex-end; margin-left: 7vw">
      <div style="display: flex; align-items: baseline; margin-right: 3vh">
         <b-icon
            icon="weather-windy"
            size="is-medium"
            type="is-light"
            title="Get weather by location"
            style="margin-right: 0.5vw">
          </b-icon>
        <span style="font-size:25px; color: skyblue; margin-right: 1vw">Wind</span>
        <span style="font-size:25px; color: white">{{Math.round(today.wind_speed)}}</span>
        <span style="font-size:15px; color: white">mph</span>
        <span style="font-size:25px; color: white">{{today.wind_direction_compass}}</span>
      </div>

      <div style="display: flex; align-items: baseline; margin-right: 2vh">
        <b-icon
          icon="water-percent"
          size="is-medium"
          type="is-light"
          title="Get weather by location"
          style="margin-right: 0.5vw">
        </b-icon>
        <span style="font-size:25px; color: skyblue; margin-right: 0.5vw">Humidity</span>
        <span style="font-size:25px; color: white">{{Math.round(today.humidity)}}</span>
        <span style="font-size:15px; color: white">%</span>
      </div>

    </div>

    <div v-if="!inline" style="display: flex; flex-direction: column; height: 10vh;  align-items: center; margin-top: -1vh">
      <div style="display: flex; align-items: baseline; margin-top: 2vh; margin-bottom: 2vh">
         <b-icon
            icon="weather-windy"
            type="is-light"
            title="Get weather by location"
            style="margin-right: 0.5vw; font-size:20px">
          </b-icon>
        <span style="font-size:20px; color: skyblue; margin-right: 1vw">Wind</span>
        <span style="font-size:20px; color: white">{{Math.round(today.wind_speed)}}</span>
        <span style="font-size:15px; color: white">mph</span>
        <span style="font-size:20px; color: white">{{today.wind_direction_compass}}</span>
      </div>

      <div style="display: flex; align-items: baseline; margin-bottom: 2vh">
        <b-icon
          icon="water-percent"
          type="is-light"
          title="Get weather by location"
          style="margin-right: 0.5vw; font-size:20">
        </b-icon>
        <span style="font-size:20px; color: skyblue; margin-right: 0.5vw">Humidity</span>
        <span style="font-size:20px; color: white">{{Math.round(today.humidity)}}</span>
        <span style="font-size:15px; color: white">%</span>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  props: ['today'],
  data () {
    return {
      width: window.innerWidth,
      todayIcon: `https://www.metaweather.com/static/img/weather/png/${this.today.weather_state_abbr}.png`
    }
  },
  methods: {
    goToSaved () {
      this.$router.push('/saved')
    }
  },
  mounted () {
    console.log(this.width)
  },
  computed: {
    inline () {
      if (this.width >= 480) {
        return true
      } else {
        return false
      }
    },
    check () {
      this.width = window.innerWidth
      return true
    }
  }
}
</script>

<style>

</style>
