<template>
  <div id="app">
    <router-view/>
      <div class="content has-text-centered" style="color: rgba(0,0,0,0.5); margin-top: -4vh; padding-bottom: 1.5vh">
        <span>Rizky Anas Bukhori © 2019</span>
      </div>
  </div>
</template>

<style>
body {
  background: linear-gradient(45deg, rgba(21,12,50,1) 0%, rgb(16, 159, 241) 67%,  rgba(21,12,50,1) 100%);
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
